autom4te.cache/
Build/
zzz/
staging/
zip/
/test/

aclocal.m4
config\.*
configure
COPYING
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
metadata.json
pos.log
changeversion.log
POTFILES

*~
*.gmo
*.gschema.xml
*.gschema.valid
*.pot

stamp-*

.git/
/commit
*.svg
*.xcf
