autom4te.cache/
Build/
/x/
staging/
zip/

aclocal.m4
config\.*
configure
/COPYING
/install-sh
libtool
/ltmain.sh
Makefile
Makefile.in
Makefile.in.in
metadata.json
/missing
/pos.log
/changeversion.log
POTFILES

*~
*.gmo
*.gschema.xml
*.gschema.valid
*.pot

stamp-*

.git/
/commit
*.svg
*.xcf
